[submodule "libtirpc"]
	path = libtirpc
	url = https://salsa.debian.org/debian/libtirpc.git
[submodule "util-linux"]
	path = util-linux
	url = https://github.com/util-linux/util-linux.git
[submodule "zfs"]
	path = zfs
	url = https://github.com/openzfs/zfs.git
[submodule "raspberry-pve-linux"]
	path = raspberry-pve-linux
	url = https://github.com/Rappelkiste98/raspberry-pve-linux.git
